src/main/mule/emrplm-isv-s-item-ofusion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b807d102-c834-4023-976f-4293b0587882" >
		<http:request-connection >
			<http:authentication >
				<http:basic-authentication username="SCM00.INSTRUCTOR" password="spG*8A%8" />
			</http:authentication>
		</http:request-connection>
	</http:request-config>
	<flow name="emrplm-isv-s-item-fusion-mainflow" doc:id="534615a1-e5ce-4ad7-a42b-f1e8a277a707">
		<anypoint-mq:subscriber doc:name="SubscribingFusionQueue" doc:id="d89143ea-40b2-4ffa-8c67-ebe2968608db" destination="${secure::anypointMQ.queue}" config-ref="Anypoint_MQ_Config" />
		<logger level="INFO" doc:name="initial_payload" doc:id="1d7954bd-ddb7-4165-874c-7add6869cab9" message="initial_payload::::::::::::::::::::::::::::::::#[payload]" />
		<ee:transform doc:name="initial_variables" doc:id="6c2fc5b3-ee5a-4f80-a883-03258268bac9">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="targetSystemName"><![CDATA[%dw 2.0
output application/java
---
(payload.Item.MessageHeader.Target.ApplicationTypeCode) ++ (payload.Item.MessageHeader.Target.ID)]]></ee:set-variable>
				<ee:set-variable variableName="targetSystemId"><![CDATA[%dw 2.0
output application/java
---
payload.Item.MessageHeader.Target.ID]]></ee:set-variable>
				<ee:set-variable variableName="plantName"><![CDATA[%dw 2.0
output application/java
---
payload.Item.MessageHeader.Target.ServiceName
]]></ee:set-variable>
				<ee:set-variable variableName="targetSystem"><![CDATA[%dw 2.0
output application/java
---
payload.Item.MessageHeader.Target.ApplicationTypeCode]]></ee:set-variable>
				<ee:set-variable variableName="receivedmessage"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="csv"><![CDATA[%dw 2.0
output application/csv separator=",",header=true

---
[{
    "Transaction Type": "SYNC",
    "Org": "000",
    "Item": payload.Item.DataArea.Parts[0].ModelString[0].ItemName,
    "Item description": payload.Item.DataArea.Parts[0].ModelString[0].ItemDescription,
    "Item Class": "Root Item Class",
    "Primary UOM": payload.Item.DataArea.Parts[0].ModelString[0].Attribute26,
    "Item Template": payload.Item.DataArea.Parts[0].ModelString[0].ItemType,
    "RevisionCode": payload.Item.DataArea.Parts[0].ModelString[0].ItemRevision,
    "ItemRevisionDescription": payload.Item.MessageHeader.MessageTracking.ExecutionUnitName,
    "RevisionReasonValue": "",
    "RevisionEffectivityDate": "",
    "RevisionImplementationDate": "",
    "MCO#": payload.Item.MessageHeader.MessageTracking.ExecutionUnitName,
    "MCO#EffDate": "2023-12-05T20:00:00.235-0700",
    "Item Category Name":"EMR DIVISION ARG",
    "Item Category Code":"MMI.LB0.N/A.N/A"
}]]]></ee:set-variable>
				<ee:set-variable variableName="java" ><![CDATA[%dw 2.0
output application/java

---
 payload.Item.DataArea.Parts[0].ModelString map (x, y) -> {
    "Transaction Type": "SYNC",
    "Org": "000",
    "Item": x.ItemName,
    "Item description": x.ItemDescription,
    "Item Class": "Root Item Class",
    "Primary UOM": x.Attribute26,
    "Item Template": x.ItemType,
    "RevisionCode": x.ItemRevision,
    "ItemRevisionDescription": payload.Item.MessageHeader.MessageTracking.ExecutionUnitName,
    "RevisionReasonValue": "",
    "RevisionEffectivityDate": "",
    "RevisionImplementationDate": "",
    "MCO#": payload.Item.MessageHeader.MessageTracking.ExecutionUnitName,
    "MCO#EffDate": "2023-12-05T20:00:00.235-0700",
    "Item Category Name":"EMR DIVISION ARG",
    "Item Category Code":"MMI.LB0.N/A.N/A"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="64df0eef-dba8-4818-92bd-cfc15f951841" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="csv" ><![CDATA[%dw 2.0
output application/csv 
---
vars.java]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="printingAfterConversionToCsv" doc:id="02c5ff0b-42ac-4b57-b927-2486605e7787" message="csv file before the encryption: #[vars.csv]"/>
		<ee:transform doc:name="csvtobase64" doc:id="fd8a5136-3e51-45ef-9334-d1a4875abfe6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="base64" ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/json
---
toBase64(write(vars.csv, "application/csv"))]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="printingAfterConversionToBase64" doc:id="6a81dcbb-b7cf-498b-819d-9019c426c49b" message="#[vars.base64]"/>
		<ee:transform doc:name="tracePointDescription" doc:id="942cf028-b7d0-448d-a7a9-ed8f0ed6c763">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="tracePointDescription"><![CDATA[%dw 2.0
output application/java
---
{
	 tracePointDescription: "Starting of the " ++ Mule::p('app.name') 
}]]></ee:set-variable>
				<ee:set-variable variableName="businessObject"><![CDATA[%dw 2.0
output application/java
---
{   "businessObjectName": "Item Details",
    "businessIdentifier1": "material name",
    "businessIdentifier1Value": vars.recievedmessage.MCO_NAME[0] default ""
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="clientLoggingPublisherFlow" doc:id="5850a448-f8b6-4b38-b65d-7f31296b1b2f" name="clientLoggingPublisherFlow" />
		<choice doc:name="varifyingTargetSystem" doc:id="890b73c9-c23c-4b16-b22e-4012f3672dc4">
			<when expression='#[vars.targetSystem == "FUSION"]'>
				<flow-ref doc:name="aslplm-isv-s-item-fusion-subflow" doc:id="cb5ebb11-ff89-4b68-8c7d-73f5088b999c" name="emrplm-isv-s-item-fusion-subflow" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="623aa6e8-0a6d-423a-aeae-8244ec883ef2" message="Target System Not defined :::::::::::::::::::::::::::::::#[payload]" />
				<raise-error doc:name="Raise error" doc:id="8760df3c-9039-4871-b120-6948ca801ae3" type="ANY" description="Incorrect payload please check the SenderID and TargetID" />
			</otherwise>
		</choice>
		<ee:transform doc:name="End tracePointDescription" doc:id="8e6a3610-8bea-48c8-9ba9-d2e040b13894">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="tracePointDescription"><![CDATA[%dw 2.0
output application/java
---
{
	 tracePointDescription: "Ending of the " ++ Mule::p('app.name') 
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="clientLoggingPublisherFlow" doc:id="2b85a5cf-df7d-43c8-bf05-5ef5aa087ef0" name="clientLoggingPublisherFlow" />
	</flow>
	<sub-flow name="emrplm-isv-s-item-fusion-subflow" doc:id="a31a5ed8-6643-4779-8505-60c5b897ee5d">
		<ee:transform doc:name="fusionPayload" doc:id="5a06dca3-73f6-498b-a4e0-2a5cec4fc7c0">
			<ee:message>
			</ee:message>
			<ee:variables>
					<ee:set-variable variableName="fusion_Payload"><![CDATA[%dw 2.0
output application/json
---
{
    "BatchName": now(),
    "SpokeSystemName": "Product Information Management Data Hub",
    "DefaultOrganizationCode": "000"

}
 ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="before_Request_log" doc:id="cef1604d-1cf8-4e15-8fde-bfb649585149" message="this is the FUSION payload::::::::::::::::#[vars.fusion_Payload]" />
		<choice doc:name="varifyingTargetSystemId" doc:id="d0073665-15d2-41c9-ad41-a85c5a5feddb">
				<when expression='#[vars.targetSystemId == "D03"]'>
					<http:request method="${secure::betsyRequest.Method}" doc:name="requestToCreateBatch" doc:id="f0437fbe-e840-496a-94ab-06e9931a4b3d" config-ref="Request_to_Betsyd10" path="${secure::betsyRequest.path}">
						<http:body><![CDATA[#[vars.fusion_Payload]]]></http:body>
					</http:request>
					<logger level="INFO" doc:name="printingResponseAfterCreateBatch" doc:id="171eacf2-9ea6-445b-92c6-aff8485d5410" message="response after the batch is created: #[payload]" />
					<set-variable value="#[payload]" doc:name="Set Variable" doc:id="b6868247-24a1-463b-9056-090cdf9229e1" variableName="fusion_Response" />
				</when>
				<otherwise>
					<logger level="INFO" doc:name="Logger" doc:id="1978ccb1-fe5c-4a71-b4ed-1812ed216ac4" message="Target instance is not correct #[payload]" />
					<raise-error doc:name="Raise error" doc:id="ce2d005a-05ef-4791-9b0a-64323dfc9a88" type="ANY" description="targetSystemId is not found" />
				</otherwise>
			</choice>
		<choice doc:name="varifyingStatusCode" doc:id="1e324cdb-ee31-4bab-9b44-b560ff5dc5ef">
				<when expression="#[attributes.statusCode ==201]">
					<ee:transform doc:name="FileToUcmMapping" doc:id="2769ba53-d7f5-4834-827f-a1df6ff80c8f">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="uploadUcm"><![CDATA[%dw 2.0
output application/json
---
{
    "OperationName": "uploadFileToUCM",
    "DocumentContent": vars.base64,
    "DocumentAccount": "scm\$/item\$/import\$",
    "ContentType": "csv",
    "FileName": "Test" ++ now() as String {format: "HH:mm:ss"}++ ".csv",
    "DocumentId":null
}
]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<logger level="INFO" doc:name="printingMappingOutput" doc:id="244c070e-74bb-4c45-8ee9-efe0e7dbd7d5" message="#[vars.uploadUcm]" />
					<http:request method="POST" doc:name="request to send file to location" doc:id="146d702d-e6d6-41ac-9a0c-24301f849b3e" config-ref="emrplm-isv-s-item-ofusion-get" url="https://fa-erzp-dev3-saasfademo1.ds-fa.oraclepdemos.com/fscmRestApi/resources/11.13.18.05/erpintegrations" sendCorrelationId="ALWAYS" correlationId="#[correlationId]" responseTimeout="${secure::GET.responseTimeout}">
						<ee:repeatable-file-store-stream inMemorySize="${secure::GET.memory}" />
						<http:body><![CDATA[#[vars.uploadUcm]]]></http:body>
						<http:headers><![CDATA[#[output application/json
---
{
	"ContentType" : "application/json"
}]]]></http:headers>
						<http:response-validator>
							<http:success-status-code-validator values="${secure::GET.successCodeValidator}" />
						</http:response-validator>
					</http:request>
					<flow-ref doc:name="calling emrplm-isv-s-item-ofusionSub_Flow" doc:id="d4d2b3d4-ad65-4f4a-9312-ff69463e95ee" name="emrplm-isv-s-item-ofusionSub_Flow"/>
				</when>
				<otherwise>
					<logger level="INFO" doc:name="Logger" doc:id="108736f0-0ead-4cd8-89b6-72ee94f92259" message="Target instance is not correct #[payload]" />
					<raise-error doc:name="Raise error" doc:id="d613aab0-5530-4bdd-9ba7-f8d7b462c6e6" type="ANY" description="batch is not created please try again " />
				</otherwise>
			</choice>
	</sub-flow>
	<sub-flow name="emrplm-isv-s-item-ofusionSub_Flow" doc:id="ae2efd2e-f2f1-4343-a603-6fee069ebea6" >
		<choice doc:name="Choice" doc:id="6836ffcb-fe22-47b4-9c94-23354c18567b" >
			<when expression="attributes.statusCode ==201">
				<logger level="INFO" doc:name="printingResponseOfSendFile" doc:id="a0ff2823-32a9-4d17-ae24-4a9a4b6e1c89" message="payload after sending the file to location::::::::::::::::::::::::::#[payload]" />
				<ee:transform doc:name="submitBatchMapping" doc:id="bad24496-3247-44ec-9340-5a46e38ad040">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="batchdata"><![CDATA[%dw 2.0
output application/json
---
{
"name": "uploadFile",
"parameters": [
{"batchNumber":vars.fusion_Response.BatchNumber},
{ "dataFilePath" :"/scm/item/import/"++ vars.uploadUcm.FileName++""},
{"importMapName":"EMR Item Cat Map"},
{"errorResponseType":"text"}
]
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				<logger level="INFO" doc:name="printingBatchMappingOutput" doc:id="f6fffa20-fe4a-4d9c-a376-7f2678841d77" message="#[vars.batchdata]" />
				<http:request method="POST" doc:name="request for Submit batch" doc:id="4de8fde4-8441-4fc6-bf04-9bc2d558d87d" config-ref="emrplm-isv-s-item-ofusion-get" url="https://fa-erzp-dev3-saasfademo1.ds-fa.oraclepdemos.com:443/fscmRestApi/resources/11.13.18.05/itemBatches" sendCorrelationId="ALWAYS" correlationId="#[correlationId]" responseTimeout="${secure::GET.responseTimeout}">
						<ee:repeatable-file-store-stream inMemorySize="${secure::GET.memory}" />
						<http:body><![CDATA[#[vars.batchdata]]]></http:body>
						<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/vnd.oracle.adf.action+json"
}]]]></http:headers>
						<http:response-validator>
							<http:success-status-code-validator values="200" />
						</http:response-validator>
					</http:request>
				<logger level="INFO" doc:name="PrintingSubmitBatch" doc:id="4e011aed-f3cf-4c38-a85c-200d0c7205cf" message="Response after submitting the batch: #[payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="1d3ecf9e-1eb5-4f93-adf5-b14d37115f27" message="Target instance is not correct #[payload]" />
				<raise-error doc:name="Raise error" doc:id="e0ffb54f-3951-4473-ac67-67616e4b0822" type="ANY" description="file is not created in the location please try again" />
			</otherwise>
		</choice>
	</sub-flow>
</mule>
